.App {
  text-align: justify;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head{
  background-color:cornflowerblue;
  height: 50px;
  text-align: initial;
  color: #ffffff; 
  font-family: 'Lato', sans-serif;
   font-size: 24px; 
   font-weight: 200;
    line-height: 18px;
     margin: 0 0 18px;
}
#sidebar{
  height: 100%;
width: 200px;
background-color: #fff;
position: fixed !important;
z-index: 1;
overflow: auto;
border-right:1px solid black;
}
#leftmenu{
  position: fixed;
top: 0;
padding-top: 50px;
padding-bottom: 0;
height: 100%;
width: 220px;
background-color: transparent;
}
#leftpanel {
  height: 100%;
  width: 200px;

  overflow-x: hidden;
  padding-top: 20px;
}
#sidebar a{
  font-family: "Segoe UI",Arial,sans-serif;
text-decoration: none;
display: block;
padding: 2px 1px 1px 16px;
}
#sidebar #inventortleft{
  color: rgba(0,0,0,.85);
}
#root1{
  border: 1px solid black;
  padding-inline-start: 5px;
}
#rightPanel{
  margin-left: 200px;
}



#headerright{
  display: flex;
  justify-content: space-between;
 
 
}
#head1{  border-bottom: 1px solid black;
 
  padding-bottom: 12px;}
#headerright span{
  font-size: 30px;
  margin-left: 10px;
}
#nv{
  background-color: #e7e7e7; color: black;
}
#inputform{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  justify-content:stretch;
  padding-left: 10px;

}
#tags{
  width: 269px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 21px;}
#tag{
  padding-top: 50px;
  width: 250px;
  align-content: space-between;
}

#inputform select {
  cursor: pointer;
  width: 238px;
  height: 36px;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
#inputform input {
  width: 80px;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
nav {
  float: left;
  width: 10%;
   height: auto;/* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}
#tablesize{
width: 100%;
}
#table{
  border: 1px solid black;
  align-content: space-between;
  text-align: start;
  align-content: space-between;
  display: grid;
  padding-top: 12px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
tr{
  border-radius: 1px solid black
  ;
}
#resposive-table{border: 1px solid black;
align-content: space-between;
text-align: start;
align-content: space-between;
display: grid;
padding-top: 12px;
    
}
#resposive-table #thead {
  display: flex;
  justify-content: space-between;
  }


  body {
    font-family: 'lato', sans-serif;
  }
  .container {
   width:1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
      font-size: 0.5em;
    }
  
  
  .responsive-table
    li {border:1px solid black;
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #edf1f1;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
    @media all {
      .table-header {
        display: none;
      }
     
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        
      }
    }
  #pages{
    display: flex;
    justify-content: left;
    padding-right: 50px;
  }